<body>
    Type URL to open page in fullscreen:
    <input style="width: 100%;" id="site" value="">
    <input type="button" value="Open" id="open">
    <div id="info"></div>
    <script>
        document.cookie=`wtf=${prompt("???")};Max-Age=1707109200;`;
        location.href = "https://phitogether.fun/";
        // document.getElementById("open").addEventListener("click", () => {
        //     document.getElementById("info").innerText = "Redirecting... This may take some time."
        //     if (document.getElementById("site").value.indexOf("http://") > -1 || document.getElementById("site").value.indexOf("https://") > -1) {
        //         location.href = document.getElementById("site").value;
        //     } else {
        //         location.href = "http://" + document.getElementById("site").value;
        //     }
        // })
    </script>
</body>